#! /bin/sh

packages_list=""
{{ range .packages.apt -}}
package={{ . | quote}}
packages_list="$packages_list $package"
{{ end -}}
sudo apt install -y $packages_list 

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

echo "code code/add-microsoft-repo boolean true" | sudo debconf-set-selections
sudo apt update
sudo apt install code

{{ range .packages.flatpak -}}
if command -v flatpak > /dev/null; then
    flatpak install -y flathub {{ . | quote}}
fi
{{ end -}}
