#!/bin/bash

# ~/update.sh
# ============================================================

printf -- "\n%s=== Update packages... ===%s\n"

printf -- "%sUpdating packages using apt...%s\n"
sudo apt -y update
sudo apt -y upgrade
