#!/bin/bash

# ~/setup_shell.sh
# ============================================================

command_exists() {
    command -v "$@" >/dev/null 2>&1
}

main() {
    printf -- "\n%s=== Setting up Fish... ===%s\n"

    # Install Fish
    printf -- "%sInstalling Fish...%s\n"
    if ! command_exists fish; then
        which apt 2> /dev/null
        if [ $? -eq 0 ]; then
            sudo apt install -y fish
        else
            sudo dnf install -y fish
        fi
    else
        printf -- "%Fish already installed, skipping.%s\n"
    fi

    printf -- "%sSet Fish as the default shell...%s\n"
    command -v fish | sudo tee -a /etc/shells
    sudo chsh -s "$(command -v fish)" "${USER}"
}

main "$@"