#!/bin/sh

# ~/setup_docker.sh
# ============================================================

# {{- if and .is_ubuntu (not .is_devcontainer) }}

command_exists() {
    command -v "$@" >/dev/null 2>&1
}

main() {
    printf -- "\n%s=== Setting up Docker... ===%s\n"

    if ! command_exists docker; then
        # Install packages
        printf -- "%sInstalling packages...%s\n"
        sudo apt install ca-certificates curl gnupg

        # Add Docker GPG key
        printf -- "%sAdd Docker GPG key...%s\n"
        sudo mkdir -m 0755 -p /etc/apt/keyrings
        wget -qO- https://download.docker.com/linux/ubuntu/gpg \
            | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg

        # Setting up Docker repository
        printf -- "%sSetting up Docker repository...%s\n"
        echo \
            "deb [arch="$(dpkg --print-architecture)" signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
            "$(. /etc/os-release && echo "$VERSION_CODENAME")" stable" \
            | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
        sudo apt update

        # Install Docker
        printf -- "%sInstalling Docker...%s\n"
        sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

        # Setting up Docker
        sudo usermod -aG docker $USER

        # {{- if .is_wsl }}
        echo "[boot]\nsystemd=true" | sudo tee -a /etc/wsl.conf
        # {{- end }}
    else
        printf -- "%sDocker already installed, skipping.%s\n"
    fi
}

main "$@"

# {{- end }}