#!/bin/bash

# ~/update.sh
# ============================================================

# {{- if and .is_ubuntu (not .is_devcontainer) }}

printf -- "\n%s=== Update packages... ===%s\n"

printf -- "%sUpdating packages using apt...%s\n"
sudo apt -y update
sudo apt -y upgrade

# {{- end }}